#ignore everything
*

#Don't ignore default files
!.gitignore
!Makefile
!ahbrom.vhd
!config.vhd
!.config
!grlib_config.vhd
!leon3mp.ucf
!leon3mp.vhd
!prom.h
!prom.srec
!ram.srec
!systest.c
!testbench.vhd
!wave.do
!rtl/

!rtl/ahb2axi_mig4_ultrascale.vhd
!rtl/ddr4ram.vhd
