#ignore ALL
*

#don't ignore default files
!.gitignore
!Makefile
!README.md
!.config
!config.vhd
!grlib_config.vhd
!vx_config.inc
!prom.srec

!cfg
!cfg/config_local.vhd

!rtl
!rtl/ahb2axi_mig4_7series.vhd
!rtl/ahbrom.vhd
!rtl/ahbrom128.vhd
!rtl/ahbrom64.vhd
!rtl/axi_mig4_7series.vhd
!rtl/ddr4ram.vhd
!rtl/metasat.vhd
!rtl/sgmii_vcu118.vhd

!rtl/core
!rtl/core/cfgmap.vhd
!rtl/core/metasatcore.vhd
!rtl/core/rev.vhd

!sw
!sw/systest.c

!tb
!tb/testbench.vhd
!tb/*.srec
