#ignore ALL
*

#don't ignore default files
!.gitignore
!Makefile
!README.txt
!cfg
!config.h
!config.help
!config.in
!config.vhd
!config.vhd.h
!config.vhd.in
!grlib_config.vhd
!lconfig.tk
!prom.srec
!ram.srec
!rtl
!signals.txt
!sw
!tb
!tkconfig.h

!cfg/config_local.vhd

!rtl/ahbrom.vhd
!rtl/ahbrom128.vhd
!rtl/ahbrom64.vhd
!rtl/core
!rtl/noelvmp.vhd

!rtl/core/cfgmap.vhd
!rtl/core/noelvcore.vhd
!rtl/core/rev.vhd

!sw/systest.c

!tb/testbench.vhd
