#ignore ALL
*

#don't ignore default files
!.gitignore
!.config
!Makefile
!README.txt
!cfg
!config.vhd
!grlib_config.vhd
!prom.srec
!hello32.srec
!hello64.srec
!rtl
!signals.txt
!sw
!tb

!cfg/config_local.vhd

!rtl/ahb2axi_mig4_ultrascale.vhd
!rtl/ahbrom.vhd
!rtl/ahbrom128.vhd
!rtl/ahbrom64.vhd
!rtl/axi_mig4_7series.vhd
!rtl/ddr4ram.vhd
!rtl/noelvmp.vhd
!rtl/sgmii_zcu102.vhd

!sw/systest.c

!tb/testbench.vhd
