#ignore ALL
*

#don't ignore default files
!.gitignore
!Makefile
!README.txt
!.config
!config.h
!config.help
!config.in
!config.vhd
!config.vhd.h
!config.vhd.in
!doprog.tcl
!grlib_config.vhd
!lconfig.tk
!prom.srec
!hello32.srec
!hello64.srec
!tkconfig.h

!cfg
!cfg/config_local.vhd

!rtl
!rtl/ahb2axi_mig4_7series.vhd
!rtl/ahbrom.vhd
!rtl/ahbrom128.vhd
!rtl/ahbrom64.vhd
!rtl/axi_mig4_7series.vhd
!rtl/ddr4ram.vhd
!rtl/noelvmp.vhd
!rtl/sgmii_vcu118.vhd

!rtl/core
!rtl/core/cfgmap.vhd
!rtl/core/noelvcore.vhd
!rtl/core/rev.vhd



!sw
!sw/systest.c

!tb
!tb/testbench.vhd
